* text=auto
*.bat text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.c text eol=lf
*.h text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.jar binary
*.png binary
*.xz binary
